version: "3.5"

services:
  rstudio-server-pro:
    build:
      context: ./server-pro
      args:
        RSP_VERSION: 1.4.1106-5
    image: rstudio/rstudio-server-pro:1.4.1106-5
    privileged: true
    environment:
      RSP_LICENSE: ${RSP_LICENSE}
      LICENSE_SERVER: ${RSP_LICENSE_SERVER}
    ports:
      - 8787:8787
      - 5559:5559
    volumes:
      - ./server-pro/conf/:/etc/rstudio
      - ./data/rsp:/home

  rstudio-connect:
    build:
      context: ./connect
      args:
        RSC_VERSION: 1.8.6.2
    image: rstudio/rstudio-connect:1.8.6.2
    privileged: true
    environment:
      RSC_LICENSE: ${RSC_LICENSE}
      LICENSE_SERVER: ${RSC_LICENSE_SERVER}
    ports:
      - 3939:3939
    volumes:
      - ./connect/rstudio-connect.gcfg:/etc/rstudio-connect/rstudio-connect.gcfg
      - ./data/rsc:/data

  rstudio-package-manager:
    build:
      context: ./package-manager
      args:
        RSPM_VERSION: 1.2.0-27
    image: rstudio/rstudio-package-manager:1.2.0-27
    privileged: true
    environment:
      RSPM_LICENSE: ${RSPM_LICENSE}
      LICENSE_SERVER: ${RSPM_LICENSE_SERVER}
    ports:
      - 4242:4242
    volumes:
      - ./package-manager/rstudio-pm.gcfg:/etc/rstudio-pm/rstudio-pm.gcfg
      - ./data/rspm:/data
